@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Radix UI color palettes */
@import url('@radix-ui/colors/black-alpha.css');
@import url('@radix-ui/colors/indigo.css');
@import url('@radix-ui/colors/mauve.css');
@import url('@radix-ui/colors/purple.css');
@import url('@radix-ui/colors/violet.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}